app.name=Spam Filter
app.version=1.0
app.spam_threshhold=0.85
app.defaultThreshold=0.5
app.username=cse
app.password=admin
app.limitOfInterestingWords=15
app.goodMailList=good.txt
app.spamMailList=spam.txt
app.spamAddressFile=spammers.txt
app.dbname=spamfilterdb
app.spamtable=spambox
app.nonspamtable=nonspambox